<footer class="uc-footer">
    <div class="container pb-48">
      <div class="row">
        <div class="col-7 col-md-3 col-xl-2 mb-32">
          <a href="/">
            <img
              src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/logo-uc-blanco.svg"
              alt="Pontificia Universidad Católica de Chile"
              class="img-fluid"
            />
          </a>
        </div>
        <div class="col-lg-8 offset-lg-1">
          <div class="h2 color-white text-font--serif mt-28">
            Repositorio UC
          </div>
          <ul class="uc-footer_social">
            <!-- agregar enlaces a redes sociales correspondientes -->
            <li>
              <a href="#">
                <img
                  src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-twitter.svg"
                  alt="Twitter"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-facebook.svg"
                  alt="Facebook"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-instagram.svg"
                  alt="Instagram"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-linkedin.svg"
                  alt="Linkedin"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-youtube.svg"
                  alt="Youtube"
                />
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/social-icon-flickr.svg"
                  alt="Flickr"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="uc-global-footer"></div>
  </footer>
  <div class="uc-dev-footer">
    <div class="container">
      <ul class="uc-footer-dev_content">
        <li>
          Diseño y desarrollo
          <a href="https://bibliotecas.uc.cl/" target="_blank">Bibliotecas UC</a>
        </li>
        <li>
          Utilizando el
          <a href="https://kitdigital.uc.cl/">Kit Digital UC</a>
        </li>
      </ul>
    </div>
  </div>
  