<div class="section mt-60 mb-60">
  <div class="container">
    <div class="d-flex mb-24 uc-title__complex ng-star-inserted">
      <div class="d-flex align-items-center">
        <h2>Noticias</h2><span class="uc-heading-decoration"></span><span
           class="uc-heading-decoration m-0"></span>
      </div>
    </div>
    <div *ngIf="noticiaArray">
      <div class="row">
        <div class="col-12 col-md-4" *ngFor="let noticia of noticiaArray">
          <div class="uc-card">
            <img [src]="noticia.urlImg" class="card-img" alt="imagen de noticia" />
            <a href="#" class="uc-tag tag-fixed">Texto tag</a>
            <div class="uc-card_body">
              <h4>{{ noticia.titulo }}</h4>
              <div class="text-right mt-auto">
                <a href="#" class="uc-btn btn-inline">Ver más<i class="uc-icon">keyboard_arrow_right</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>