<header class="uc-header">
    <div id="uc-global-topbar"></div>
    <nav class="uc-navbar">
      
      <!-- Menú para versión Escritorio -->
      <div class="container d-none d-lg-block">
        <div class="row d-flex align-items-center">
          <div class="col-lg-3 col-xl-2">
            <img src="https://kit-digital-uc-desa.s3.amazonaws.com/img/logo-uc-azul.svg"
              alt="Pontificia Universidad Católica de Chile" class="img-fluid" />
          </div>
          <div class="col-lg-8 col-xl-7 pl-60">
            <div class="h2 text-font--serif text-color--blue mt-24">Repositorio UC</div>
            <div class="text-color--gray p-size--lg">
              Este es un ejemplo de repositorio con Angular Universal
            </div>
          </div>
          <div class="d-none d-xl-block col-lg-2">
            <div class="uc-form-group mt-24" style="max-width: 360px">
              <input id="ucsearch" type="text" class="uc-input-style w-icon search search--white uc-input-style--alpha"
                placeholder="Buscar por" />
            </div>
          </div>
        </div>
        <ul class="uc-navbar_nav">
          <li class="nav-item">
            <a href="#" class="uc-btn btn-inline">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="#" class="uc-btn btn-inline">Buscar</a>
          </li>
          <li class="nav-item">
            <a href="#" class="uc-btn btn-inline">Registrar</a>
          </li>
          <li class="nav-item">
            <a href="#" class="uc-btn btn-inline">Acerca de Datos de Investigación</a>
          </li>
        </ul>
      </div>
      <!-- Menú para versión Móvil -->
      <div class="uc-navbar_mobile d-block d-lg-none">
        <div class="uc-navbar_mobile-bar navbar-brand">
          <div class="uc-navbar_mobile-logo navbar-light">
            <div class="h2 text-font--serif text-color--blue">Título</div>
          </div>
          <a href="javascript:void(0);" class="uc-navbar_mobile-button" data-collapse="collapseMobileNav3">
            <span class="uc-icon"></span>
            Menú
          </a>
        </div>
        <div class="uc-navbar_mobile-content" data-toggle="collapseMobileNav3" data-open="false" style="height: 0">
          <div class="uc-navbar_mobile-list">
            <a href="#" class="list-item">Item 1</a>
            <a href="#" class="list-item">Item 2</a>
            <a href="#" class="list-item">Item 3</a>
            <a href="#" class="list-item">Item 4</a>
          </div>
        </div>
      </div>
    </nav>
  </header>